body,
html {
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.CodeMirror {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 15px;
    font-family: monospace;
    padding: 0;
    background-color: transparent;
}

.__data_from_root__ {
    color: var(--sn-stylekit-background-color);
}
