body,
html {
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
}
#wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}
.CodeMirror {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 15px;
    font-family: monospace;
    padding: 0;
    background-color: transparent;
}
#select-wrapper {
    width: 100%;
    margin: 0;
    padding-left: 16px;
    background-color: rgb(247, 247, 247);
    border-top: 1px solid rgb(221, 221, 221);
}
#language-label {
    font-size: 12px;
}
#select {
    margin: 5px;
}
